{% extends 'base.html' %}

{% block content %}
    <div>
        <a href="{% url 'person:txt-download' %}" class="download-link">Посмотреть отчет в формате .txt</a>
        <a href="{% url 'person:xlsx-download' %}" class="download-link">Посмотреть отчет в формате .xlsx</a>
    </div>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Порядоковый номер запроса</th>
            <th>Дата отправки запроса</th>
            <th>Статус запроса</th>
            <th>Статус-код ответа от сервера</th>
            <th>Сообщение об ошибке</th>
        </tr>
        {% for result in object_list %}
            <tr>
                <th>{{ result.id }}</th>
                <th>{{ result.date }}</th>
                <th>{{ result.status }}</th>
                <th>{{ result.status_code }}</th>
                <th>{{ result.text }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
